<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="gstion_de_commande.Properties.Settings.gestion_de_commandeConnectionString"
            connectionString="Data Source=AMINEICAME\SQLEXPRESS;Initial Catalog=gestion_de_commande;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="gstion_de_commande.Properties.Settings.gestion_de_commandeeConnectionString"
            connectionString="Data Source=AMINEICAME\SQLEXPRESS;Initial Catalog=gestion_de_commandee;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="gstion_de_commande.Properties.Settings.gestion_de_commandeNEWConnectionString"
            connectionString="Data Source=AMINEICAME\SQLEXPRESS;Initial Catalog=gestion_de_commandeNEW;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>